certifi==2017.11.5
chardet==3.0.4
Django==1.11.29
gunicorn==19.8.1
idna==2.6
mygpoclient==1.8
numpy==1.13.3
pycryptodomex==3.4.7
PyJWT==1.3.0
pytz==2017.3
requests==2.18.4
six==1.11.0
stream-python==2.8.1
urllib3==1.22
virtualenv==15.1.0
virtualenvwrapper-win==1.2.5
whitenoise==3.3.1
