{% extends "base_generic.html" %}

{% block content %}
<h2>Browse the top genres!</h2>
  <ul>
    <h3>{{tag0}}</h3>
    <table>
        {% for logo, url, podlist in pods0 %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}
    </table>
    <h3>{{tag1}}</h3>
    <table>
        {% for logo, url, podlist in pods1 %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}
    </table>
    <h3>{{tag2}}</h3>
    <table>
        {% for logo, url, podlist in pods2 %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}
    </table>
    <h3>{{tag3}}</h3>
    <table>
        {% for logo, url, podlist in pods3 %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}
    </table>
    <h3>{{tag4}}</h3>
    <table>
        {% for logo, url, podlist in pods4 %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}
    </table>
    <h3>{{tag5}}</h3>
    <table>
        {% for logo, url, podlist in pods5 %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}
    </table>
    <h3>{{tag6}}</h3>
    <table>
        {% for logo, url, podlist in pods6 %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}
    </table>
    <h3>{{tag7}}</h3>
    <table>
        {% for logo, url, podlist in pods7 %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}
    </table>
    <h3>{{tag8}}</h3>
    <table>
        {% for logo, url, podlist in pods8 %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}
    </table>
    <h3>{{tag9}}</h3>
    <table>
        {% for logo, url, podlist in pods9 %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}
    </table>

<!--     <table>
        <tr><td><h3> {{tag0}}</h3></td></tr>
        <tr>
        {% for pod in pods0 %}
            <td>{{pod}}</td>
        {% endfor %} </tr>
        <tr><td><h3>{{tag1}}</h3></td></tr>
        <tr>
        {% for pod in pods1 %}
            <td>{{pod}}</td>
        {% endfor %} </tr>
        <tr><td><h3>{{tagw}}</h3></td></tr>
        <tr>
        {% for pod in pods2 %}
            <td>{{pod}}</td>
        {% endfor %} </tr>
        <tr><td><h3>{{tag3}}</h3></td></tr>
        <tr>
        {% for pod in pods3 %}
            <td>{{pod}}</td>
        {% endfor %} </tr>
        <tr><td><h3>{{tag4}}</h3></td></tr>
        <tr>
        {% for pod in pods4 %}
            <td>{{pod}}</td>
        {% endfor %} </tr>
        <tr><td><h3>{{tag5}}</h3></td></tr>
        <tr>
        {% for pod in pods5 %}
            <td>{{pod}}</td>
        {% endfor %} </tr>
       <tr><td><h3>{{tag6}}</h3></td></tr>
       <tr>
        {% for pod in pods6 %}
            <td>{{pod}}</td>
        {% endfor %} </tr>
        <tr><td><h3>{{tag7}}</h3></td></tr>
        <tr>
        {% for pod in pods7 %}
            <td>{{pod}}</td>
        {% endfor %} </tr>
        <tr><td><h3>{{tag8}}</h3></td></tr>
        <tr>
        {% for pod in pods8 %}
            <td>{{pod}}</td>
        {% endfor %} </tr>
        <tr><td><h3>{{tag9}}</h3></td></tr>
        <tr>
        {% for pod in pods9 %}
            <td>{{pod}}</td>
        {% endfor %} </tr>
    </table> -->
  </ul>

{% endblock %}