{% extends "base_generic.html" %}

{% block content %}
<h1>Search for podcasts</h1>
<body>
	<form method="post">
	{% csrf_token %}
    Search for: <input type="text" id = "search_term" name = "search_term"><br>
    <button type="submit">Search</button>
    {% csrf_token %}
	</form>
	<h2> {{heading}} </h2>
    <table>
    {% for logo, url, podlist in pods %}
            <tr>
                <td> <img src={{logo}} width=50 height=50></td>
                {% for resp in podlist %}
                    <td>{{resp}}</td>
                {% endfor %}
                <td><a href={{url}}></a></td>
            </tr>
        {% endfor %}

</body>


{% endblock %}